<br/>
<div class="container">
    <h1>Questions</h1>
    <form action="/answer" class="row g-3">
    <%= label :question, "Ask your coach anything:" %>
    <input 
          class="col-5"
          type="text" 
          name="question"
          placeholder="Ask your question...">
    <input type="submit" class="btn btn-primary col-auto" value="Ask!">
    </form>
</div>